* {
    font-family: 'Caveat', cursive;
    font-size: large;
}

.skills-container {
    display: flex;
  }
  
  .hard-skills,
  .soft-skills {
    flex-basis: 50%;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  